.top-bar {
  background: #0066cc;
  height: 3.5em;
  /*text-align: center;*/

}

.map {
	/*height: 300px;
	width: auto;
	background-color: yellow;*/
}

#mapholder {
    width: 100%;
    height: 500px;
}

.map img {
	max-width: 100%;
	width: 100%;
	/*padding: 0 2em;
	margin: auto;*/
}

.name img {
	width: 17em;
	height: auto;
	padding-top: 0.7em;
}

.name {
	margin: 0px auto;
}

.buttons {
		text-align: center;
}

.buttons img {
	max-width: 20em;
	height: auto;
	padding: 0.5em;
}

.top-bar-section ul li {
    background: #0066cc;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #0066cc;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #0066cc;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: #0066cc;
 }

 .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
    background: #333333;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #333333;
}

ul li a img {
	width: 17em;
	height: auto;
	padding-top: 0.7em;
	text-align: center;

}

ul li:hover{
	background-color: #0066ee;
}

#logo a:hover:after {
    content: url(img/emergino-logo-white.png);
    display: block;
}


.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #555555;
    background: #0066cc;
}


.has-dropdown a img {
	max-width: 2em;
	height: auto;
}

.top-bar-section ul li > a {
padding: 0 0 0 1em;
}

table {
	width: 100%;
	display: block;
}
